header {
    
    padding: 10px 40px;
    text-align: center;
    box-shadow: 10px 10px 5px #000;
      -moz-box-shadow: 10px 10px 5px #000;
      -webkit-box-shadow: 10px 10px 5px #000;
      -khtml-box-shadow: 10px 10px 5px #000;
}
